<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>S.O.S</title>
    <link rel="stylesheet" href="../public/assets/stylesheets/style.css" />
  </head>
  <body>
    <div class="content">
      <!-- left -->
      <div class="info">
        <h1>let's play game</h1>
        <div class="profile">
          <img
            src="../public/assets/images/profile.jpg"
            alt="avatar"
            class="avatar"
          />
          <p>Powered By <span>l.X Dev</span></p>
        </div>
      </div>
      <!-- right -->
      <div class="game-arena">
        <div class="game-info">
          <div class="box-player">
            <p class="player-label x">x</p>
            <p class="player-name">player 1</p>
            <p class="turn">Your Choice!</p>
          </div>
          <div class="box-player">
            <p class="player-label o">o</p>
            <p class="player-name">player 2</p>
            <p class="turn">Your Choice!</p>
          </div>
          <div class="game-control">
            <button class="btn btn-reset">Reset Game</button>
          </div>
        </div>
        <!-- <div class="game-play">
          <button class="btn-tic-tac-tow x">x</button>
          <button class="btn-tic-tac-tow o">o</button>
          <button class="btn-tic-tac-tow"></button>
          <button class="btn-tic-tac-tow x">x</button>
          <button class="btn-tic-tac-tow"></button>
          <button class="btn-tic-tac-tow"></button>
          <button class="btn-tic-tac-tow"></button>
          <button class="btn-tic-tac-tow"></button>
          <button class="btn-tic-tac-tow"></button>
        </div> -->
      </div>
    </div>

    <script src="../public/assets/javascripts/code.js"></script>
    <script src="../public/assets/javascripts/main.js"></script>
  </body>
</html>
